* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    color: red;
}

p {
    margin-bottom: 30px;
    text-align: justify;
}

a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 30px;
    background-color: green;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
}