.header {
  padding: 30px 0;
  background-color: $grayColor;
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      align-items: center;
    }
  }
  &__logo {
    font-family: $ff_header;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__nav {

  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
  }
  &__item {
    margin-bottom: 10px;
    @include desktop {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
  &__link {
    color: $blackColor;
    text-decoration: none;
  }
}