@mixin bgFull ($img) {
  background: {
    image: url($img);
    position: 50% 50%;
    size: cover;
    repeat: no-repeat;
  }
}

@mixin sect ($pad, $bgc) {
  padding: $pad 0;
  background-color: $bgc;
}

@mixin centerBlock ($width) {
  width: $width;
  margin: 0 auto;
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 1280px) {
    @content;
  }
}